[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gdown = "*"
jupyterlab = "*"
pandas = "*"
seaborn = "*"
transformers = "*"
ipywidgets = "*"
tqdm = "*"
torch = "*"
torchtext = "*"
fire = "*"
sklearn = "*"
ipdb = "*"
offenseval2020 = {editable = true,path = "."}
pytest = "*"
plotly = "*"
captum = {editable = true,path = "./captum"}

[requires]
python_version = "3.6"
